<!-- <course></course> -->
<!-- <p>{{ body |  resume:30 }}</p> -->
<!-- <app-star [app-isActive]="post.isActive" (pressHere)="onFavoriteChange($event)" ></app-star> -->

<!--
<panel>
  <div class="header">  hey brothers im  the kings here im  the header </div>
  <div class="body">  hey  body dont forget your self  </div>
</panel> -->

<!-- <div *ngIf="course.length > 0 ;then listOfMesCours ; else noData"></div> -->
<!--
<div [hidden] = 'course.length == 0'>
 List of mes cours
</div>

<div [hidden]='course.length > 0'>
    be carefull
</div> -->

<!-- <ul class="nav nav-pills">
  <li class="nav-item nav-link">
    <a class="nav-link" [class.active]="viewCours=='laravel'" (click)="viewCours='laravel'"  href="#">Laravel  </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [class.active]="viewCours=='angular'" (click)="viewCours='angular'" href="#">Angular</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [class.active]="viewCours=='symphony'" (click)="viewCours='symphony'" href="#">Symphony</a>
  </li>

</ul>


<div [ngSwitch]="viewCours">
  <div *ngSwitchCase="'laravel'">Lorem Laravel </div>
  <div *ngSwitchCase="'angular'">Lorem Angular </div>
  <div *ngSwitchCase="'symphony'">Lorem Symphony</div>
  <div *ngSwitchDefault=""> Autre chose</div>
</div> -->
<!-- <p><button class="btn btn-success"  (click)="load()">Load</button></p>



 <button class="btn btn-danger" (click)='addElement()'> ajouter un element </button>
<ul>
  <li *ngFor="let tes of  tess  ; index as isEven ; trackBy: trackTess "  >

        {{  isEven +' --  '+tes.id +'_'+ tes.title }}


 <button class="btn btn-success" (click)='deleteElement(tes)'> delete un element </button>
 <button class="btn btn-success" (click)='editElement(tes)'> Edit un element </button>

  </li>
</ul>

<h1>{{ persone.tata }}</h1>

<input type="text"   [appInputFormat]="'lowercaSe'" >
 -->


<!-- <contact-form></contact-form> -->

<!-- <signup-form></signup-form> -->

<!-- <posts></posts> -->

<!-- <githubfellowers></githubfellowers> -->
<navbar></navbar>
<router-outlet></router-outlet>



