

<!-- <p>{{ followers | json  }}</p> -->
<div class="media" *ngFor="let follower of followers">
  <div class="media-left">
    <a href="#">
      <img src="{{ follower.avatar_url }}" alt="Avatar Logo" style="width:40px;" class="rounded-pill">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">{{ follower.login }}</h4>
    <a
     [routerLink]="['/followers',follower.id,follower.login]"
     [queryParams]="{page:1 , type:follower.type , var:'val' }"
     >{{ follower.html_url }}</a>
    ...
  </div>
</div>
