<div class="container">
  <form action="" method="POST" role="form">
    <legend>New post</legend>

    <div class="form-group">
      <label for="title">Title</label>
      <input
        [(ngModel)]="post.title"
        name="title"
        type="text"
        class="form-control"
        id="title"
        placeholder="title"
      />
    </div>

    <div class="form-group">
      <label for="body">Body</label>
      <textarea
        [(ngModel)]="post.body"
        name="body"
        type="text"
        class="form-control"
        id="body"
        placeholder="body"

      >
      </textarea>
    </div>

    <button (click)="createPost()" type="submit" *ngIf="isActive" class="btn btn-primary">
      Submit
    </button>

    <button (click)="UpdatePost()" type="submit" *ngIf="!isActive" class="btn btn-primary">
      Update
    </button>
  </form>

  <div class="alert alert-danger" *ngIf="status">  {{ erreur.name }}</div>

  <ul class="list-group">
    <li class="list-group-item" *ngFor="let post of posts">
      <p>{{ post.id }}</p>
      <h4>{{ post.title }}</h4>
      <p>{{ post.body }}</p>

      <div align="right">
            <button (click)="editPost(post)" type="submit" class="btn btn-warning">
                Edit post
            </button>
            <button (click)="deletePost(post)" type="submit"  class="btn btn-primary">
                Delete
            </button>
      </div>
    </li>
  </ul>
</div>
